* {
	text-align: center;
}

p {
	font-family: Arial;
}


div {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: #4ECDC4;
    display: inline-block;
    margin-left: 5px;
}

.blue {
	background-color: blue;
}

.reset {
	height: 22px;
	width: 50px;
	border-radius: 5px;
	text-align: center;
	font-family: Arial;
	background-color: lightgray;
}